.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f0f0f0;
	height: 40vh;
	text-align: center;

}

.text-container p{
	font-size: 1.2rem;
	font-weight: 401;
	line-height: 30px;
	margin-left: 25%;
	text-align: center;
	width: 50%;
	vertical-align: middle;
	color: #555455;
	letter-spacing: .15rem;
	font-family: "Source Sans Pro";
}



.text2-fortaleza {
	text-align: center;
	width: 40%;
	display: flex;
	flex-direction: column;
}



.fortaleza-list{
	margin-top: 20px;
	width: 100%;
}

.fortaleza-list ul li{

	line-height: 2rem;
	text-align: center;
	list-style-type: none;
}

.subtitle-fortaleza p{
	margin-top: 10vh;
	font-weight: 900;
	
	
	font-family: "Source Sans Pro";
}

.fortalezas{
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 60vh;
}

.text-fortaleza {
	height: 100%;
	width: 50%;
	vertical-align: middle;
	text-align: center;
}

.text-fortaleza p{
	font-size: 1rem;
	margin-left: 15%;
	text-align: justify;
	margin-top: 10vh;
	font-weight: 401;
	line-height: 1.8rem;
	font-family: "Source Sans Pro";
}

	
	/*--tablet responsive--*/
@media only screen and (max-width: 1200px) and (min-width: 800px)  {


	.text-container p{
		font-size: .9rem;
		width: 70%;
		margin-left: 15%;
		
	}

	.text-fortaleza {
		height: 100%;
		width: 70%;
		vertical-align: middle;
		text-align: center;
	}
	
	

	.text-fortaleza p{
		font-size: .9rem;
		margin-left: 10%;
		text-align: justify;
		margin-top: 10vh;
		font-weight: 401;
		line-height: 1.8rem;
		font-family: "Source Sans Pro";
	}

	
.text2-fortaleza {
	text-align: center;
	width: 30%;
	display: flex;
	flex-direction: column;
}

.subtitle-fortaleza{
	margin-top: 20px;
	font-weight: 900;

	
	font-family: "Source Sans Pro";
}


.subtitle-fortaleza p{
	margin-top: 0;
	font-weight: 900;

	
	font-family: "Source Sans Pro";
}

.fortaleza-list ul li{

	line-height: 1.55rem;
	text-align: center;
	list-style-type: none;
}




	}
	
	
	
	
	/*--mobile responsive--*/
	
@media only screen and (max-width: 800px) {

	.text-container {
	
		width: 100%;
	
	}
.text-container p{
	
	font-size: 17px;
	margin-left: 0px;
	margin-left: 5%;
	width: 90%;

}

.fortalezas{
	text-align: center;
	display: flex;
	flex-direction: column;

	width: 100%;
	height: auto;
}

.fortaleza-list{
	margin-left: 0px;
	width: auto;
}

.text-fortaleza {
	height: 100%;
	width: auto;
	vertical-align: middle;
	text-align: center;
}

.text-fortaleza p{
	font-size: 15px;
	margin-left: 5%;
	width: 90%;
	text-align: justify;
	margin-top: 30px;
	font-weight: 401;
	line-height: 1.4rem;
	letter-spacing: .05rem;
	font-family: "Source Sans Pro";
}
.text2-fortaleza {
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;

}

.fortaleza-list{
	margin-top: 15px;
}

.fortaleza-list ul li{
	
	font-size: 1rem;
	line-height: 2rem;
	text-align: center;
	list-style-type: none;
}

.subtitle-fortaleza p{
	text-align: center;
	margin-top: 50px;
	font-weight: 900;
	line-height: 30px;

	font-family: "Source Sans Pro";
}


	
	}	