
.general-container-services {
	
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.box-container0{
	height: 6vh;
}
.box-container1 {
	height: 40vh;
	display: flex;
	justify-content: space-around;
}

.box-container2 {
	margin-top: 4vh;
	height: 40vh;
	display: flex;
	justify-content: space-around;
}

.habilitaciones {
	vertical-align: middle;
	width: 25%;
	background-color: rgb(237, 237, 237);
}


.list-habilitaciones {
	padding-left: 0;
	margin-bottom: 0px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.list-habilitaciones li{
	margin-bottom: 0px;
	cursor: pointer;
	list-style-type: none;
}

.texthabilitaciones {
	margin-top: 37%;
	text-align: center;
	letter-spacing: .4rem;
	color: rgb(76, 76, 76);
	margin-bottom: 0;
	font-size: 1.3REM;
}

.changingTitle{
	width: 100%;
	text-align: center;
	opacity: 1;

}


.changingText{
	width: 100%;
	text-align: center;
}


.overlaylinks{

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: white;
}

.overlaylinks p{
	cursor: pointer;
}

.overlayTwo {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #0e0e0e;
	opacity: 1;
	visibility: hidden;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 16;
	top: 0;
	left: -200vh;
	overflow-x: hidden;
	transition: 0.5s;
}




.overlay-contentTwo {
	z-index: -10;
	width: 100%;
	text-align: center;

	
}

.overlay-contentTwo h2{
	overflow-y: hidden;
	color:  #e1e1e1;
	opacity: 1;
}

.overlay-contentTwo h3{
	color:  #e1e1e1;
	opacity: 1;
}


.overlay-contentTwo p{
	margin-top: 1%;
	width: 50%;
	margin-left: 25%;
	text-align: center;
}


  
.overlayTwo a {
	
	text-decoration: none;
	font-size: 1rem;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.overlayTwo p {
	margin-bottom: 0;
	text-decoration: none;
	font-size: 1rem;
	color: #e1e1e1;
	display: block;
	transition: 0.3s;
}
  
.overlayTwo a:hover, .overlay a:focus {
	color: #f1f1f1;
}

.overlayTwo .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 3rem;
}

.img1 {
	
	width: 100%;
	height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;     
}

.img1 .fadedbox {
    background-color: #0e0e0e;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img1:hover .fadedbox { opacity: 0.9; 
	
}



.img1 .services-title {
    font-size: 1rem;
   
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}

.img1:hover .services-title,
.img1:focus .services-title {
	
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}





	/*--tablet responsive--*/
	@media only screen and (max-width: 1200px) and (min-width: 700px)  {

		
.general-container-services {
	
	
	height: 70vh;
}

		.box-container1 {
			height: 25vh;
			display: flex;
			justify-content: space-evenly;
		}

		
		.box-container2 {
			height: 25vh;
			display: flex;
			justify-content: space-evenly;
		}
		.texthabilitaciones {
			margin-top: 10vh;
	
			text-align: center;
			letter-spacing: .1rem;
			color: rgb(76, 76, 76);
			margin-bottom: 0;
			font-size: 1REM;
		}

		.img1 .services-title {
			font-size: .9rem;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			
		    overflow-y: hidden;
			opacity: 0;
			transition-delay: 0.2s;
			transition-duration: 0.3s;
		}

		
	

	
	



	}



	
	
	/*--mobile responsive--*/
	
	@media only screen and (max-width: 700px) {


	
	}	