.myhistorycontainer {
	height: 60vh;
	display: flex;
	flex-direction: column;
	
}

.myhistoryresume {
	background-color: #f0f0f0;

	height: 40vh;
	justify-content: center;
	display: flex;
	flex-direction: column;
}		

.historyparagraph{
	width: 100%;
}

.historyparagraph p{
	font-size: 1rem;
	font-weight: 401;
	line-height: 30px;
	margin-left: 25%;
	text-align: center;
	width: 50%;
	vertical-align: middle;
	color: #555455;
	letter-spacing: .15rem;
	font-family: "Source Sans Pro";
	
} 


.myhistorycontainer2{
	overflow-y: hidden;
  	width: 100%;
	height: 50vh;
  
}

.carosuel-container{
	margin-top: 20%;
	overflow-y: hidden;
  height: 65%;

  margin: auto;
}

.slideshow-container{
	margin-top: 7%;

	display: grid;
	grid-template-columns: 15% 1fr 15%;
	height: 100%;
  	width: 100%;
}

.comments {

	overflow-y: hidden;
	grid-column: 2/3;
	grid-row: 1/2;
	text-align: center;
	width: 100%;
}

.comments a{
	text-decoration: none;
	color: black;
	font-size: 1.4rem;
}

.comments p{

	color: black;
	font-size: 1.2rem;
}
.arrowsprevnext{

	width: 100%;
	text-align: center;
	font-size: 1.5rem;
}

.arrowsprevnext a{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.arrowsprevnext .prev{
	
	grid-column: 1/2;
	grid-row: 1/2;
}

.arrowsprevnext .next{
	margin-left: 40px;
	grid-column: 3/4;
	grid-row: 1/2;
}



.myhistorycontainer3{
	margin-bottom: 1vh;
	overflow-y: hidden;
	height: 15vh;
	background-color: #b1cbee;
}

.historyContainer3p p{
	letter-spacing: 1rem;
	font-size: 1.5rem;
	color: black;
	cursor: pointer;
	width: 40%;
	margin-left: 30%;
	text-align: center;
	margin-top: 6vh;
}

.historyContainer3p p:hover{
	transform: scale(1.03);
	color: #707070;
	transition: ease-in-out .3s;
}




























