@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

* {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", "sans-serif";
}

html {
	scroll-behavior: smooth;
}

/*--INDEX.HTMLHAMBURGUER EFFECT--*/

.overlay {
	visibility: hidden;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 16;
	top: 0;
	left: -200vh;
	background-color: rgba(0,0,0, 0.97);
	overflow-x: hidden;
	transition: 0.5s;
}
  
.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}
  
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 1.7rem;
	color: #818181;
	display: block;
	transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 3rem;
}

/*--INDEX.HTML DESKTOP CSS--*/

#header{
	overflow-y: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header-container{
	transition: .4s
}

.subheader-container{
	overflow-y: hidden;

}
.real-title h1{
	font-size: 2rem;
	height: auto;
	letter-spacing: 0.7rem;
	font-weight: bold;
	z-index: 10;
	color: white;
	position: absolute;
	margin-top: 40vh;
	width: 100%;
	
	justify-content: center;
	text-align: center;

}

.real-title h5{
	height: 10rem;
	font-size: 1rem;
	text-align: center;
	z-index: 10;
	color: #aaaaaa;
	position: absolute;
	margin-top: 50vh;
	width: 100%;
}

.angle-down {
	position: absolute;
	background-image: url(../img/down_arrow.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 13px;
	height: 103px;
	left: 50%;
	bottom: 50px;
	display: inline-block;
	margin-left: -12px;
	z-index: 10;
	animation: bounce 2000ms infinite;
	-webkit-animation: bounce 2000ms infinite;
	-moz-animation: bounce 2000ms infinite;
	-o-animation: bounce 2000ms infinite;
	-ms-animation: bounce 2000ms infinite;
}


.activenavbar{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: black;
	height: 100VH;
	position: fixed;
	width: 100%;
	font-size: 2rem;
	visibility: hidden;
}

.activenavbar li a {
	width: 100%;
	text-decoration-line: NONE;
	text-align: center;
	position: absolute;
	justify-content: center;
	color: white;
}



.image-container-two img {
	width: 100%;
object-fit: cover;
	height: 100vh;
	
}

.bg_overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgba(0,0,0,.75);
}

.items span{
	overflow-y: hidden;
	font-weight: bold;
	cursor: pointer;
	font-size: 30px;
}

.items{
	
	margin-top: 6px;
}

.items a{
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: none;
	font-size: 1.2rem;
	text-decoration: none;
}



.header-container{
	z-index: 15;
	color: white;
	background-color: none;
	width: 100%;
	position: fixed;
	height: 60px;
	display: flex;
	flex-direction:row;
	justify-content: space-around;
}

.title-contact{

	margin-top: 12px;
	background-color: none;
	font-size: 20px;
	text-decoration: none;
}

.title-contact a{

	text-decoration: none;
	color: white;
}

.real-title h5{
	letter-spacing: .15rem;
	word-spacing: .3rem;
}




/*--tablet responsive--*/
@media only screen and (max-width: 1200px) and (min-width: 700px)  {

	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;

	}

	}
	
	
	
	
	/*--mobile responsive--*/
	
@media only screen and (max-width: 700px) {


	
	}	

